Desktop/Submirra-Site-main-main/Submirra-Site-main/n8n_workflows/FINAL-Submirra-Dreams-And-Generator.json
{
  "name": "🌙 Submirra - Dreams + Generator (Complete)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "dream-webhook", "options": {}},
      "id": "ff487f95-054e-493c-b725-bdf8399fd018",
      "name": "Dream Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-16, 416],
      "webhookId": "dream-webhook"
    },
    {
      "parameters": {"httpMethod": "POST", "path": "generator-webhook", "options": {}},
      "id": "gen-webhook-001",
      "name": "🎨 Generator Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-16, -600],
      "webhookId": "generator-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "user_id", "name": "user_id", "type": "string", "value": "={{ $json.body.user_id }}"},
            {"id": "source_image_url", "name": "source_image_url", "type": "string", "value": "={{ $json.body.source_image_url }}"},
            {"id": "prompt", "name": "prompt", "type": "string", "value": "={{ $json.body.prompt }}"},
            {"id": "generation_id", "name": "generation_id", "type": "string", "value": "={{ $json.body.generation_id }}"}
          ]
        }
      },
      "id": "gen-set-vars-001",
      "name": "Set Generator Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, -600]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscriptions",
        "filters": {"conditions": [{"keyName": "user_id", "keyValue": "={{ $json.user_id }}"}]}
      },
      "id": "gen-check-premium-001",
      "name": "Check Premium (Generator)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [448, -600],
      "alwaysOutputData": true,
      "credentials": {"supabaseApi": {"id": "PFA80EiSfODUskBN", "name": "Supabase"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [{"leftValue": "={{ $json.plan_type }}", "rightValue": "premium", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "or"
        }
      },
      "id": "gen-if-premium-001",
      "name": "Is Premium?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [672, -600]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert image transformation prompt engineer. Transform the user's request into a detailed Leonardo AI prompt.\n\nUSER REQUEST:\n{{ $('Set Generator Variables').item.json.prompt }}\n\nCreate a detailed prompt (max 500 chars) for image-to-image transformation. Output ONLY the prompt."
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [896, -700],
      "id": "gen-prompt-enhance-001",
      "name": "Enhance Prompt"
    },
    {
      "parameters": {"model": {"__rl": true, "value": "gpt-4o-mini", "mode": "list"}},
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [896, -520],
      "id": "gen-openai-model-001",
      "name": "OpenAI (Generator)",
      "credentials": {"openAiApi": {"id": "zE2LErXZKI9mtjQr", "name": "OpenAi account"}}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "enhanced_prompt", "name": "enhanced_prompt", "type": "string", "value": "={{ $json.output.replace(/\"/g, '').trim().substring(0, 500) }}"},
            {"id": "user_id", "name": "user_id", "type": "string", "value": "={{ $('Set Generator Variables').item.json.user_id }}"},
            {"id": "source_image_url", "name": "source_image_url", "type": "string", "value": "={{ $('Set Generator Variables').item.json.source_image_url }}"},
            {"id": "generation_id", "name": "generation_id", "type": "string", "value": "={{ $('Set Generator Variables').item.json.generation_id }}"}
          ]
        }
      },
      "id": "gen-set-enhanced-001",
      "name": "Set Enhanced",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, -700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/init-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.source_image_url }) }}"
      },
      "id": "gen-upload-001",
      "name": "Upload Image to Leonardo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, -700],
      "credentials": {"httpHeaderAuth": {"id": "hdrtPCY00775XQau", "name": "Leonardo AI Api Key"}}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "uploaded_image_id", "name": "uploaded_image_id", "type": "string", "value": "={{ $json.uploadInitImage[0].id }}"},
            {"id": "enhanced_prompt", "name": "enhanced_prompt", "type": "string", "value": "={{ $('Set Enhanced').item.json.enhanced_prompt }}"},
            {"id": "generation_id", "name": "generation_id", "type": "string", "value": "={{ $('Set Generator Variables').item.json.generation_id }}"}
          ]
        }
      },
      "id": "gen-get-upload-id-001",
      "name": "Get Upload ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1440, -700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.enhanced_prompt }}\",\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"width\": 1024,\n  \"height\": 1024,\n  \"num_images\": 1,\n  \"sd_version\": \"PHOENIX\",\n  \"alchemy\": true,\n  \"presetStyle\": \"CINEMATIC\",\n  \"init_image_id\": \"{{ $json.uploaded_image_id }}\",\n  \"init_strength\": 0.5\n}"
      },
      "id": "gen-leonardo-001",
      "name": "Leonardo - Image to Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, -700],
      "credentials": {"httpHeaderAuth": {"id": "hdrtPCY00775XQau", "name": "Leonardo AI Api Key"}}
    },
    {
      "parameters": {"amount": 25},
      "id": "gen-wait-001",
      "name": "Wait Generator",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1824, -700],
      "webhookId": "wait-generator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "leo_gen_id", "name": "leo_gen_id", "type": "string", "value": "={{ $('Leonardo - Image to Image').item.json.sdGenerationJob.generationId }}"},
            {"id": "generation_id", "name": "generation_id", "type": "string", "value": "={{ $('Set Generator Variables').item.json.generation_id }}"}
          ]
        }
      },
      "id": "gen-set-leo-id-001",
      "name": "Set Leo ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2048, -700]
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.leo_gen_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "gen-get-image-001",
      "name": "Get Generated Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2272, -700],
      "credentials": {"httpHeaderAuth": {"id": "hdrtPCY00775XQau", "name": "Leonardo AI Api Key"}}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "generated_image_url", "name": "generated_image_url", "type": "string", "value": "={{ $json.generations_by_pk.generated_images[0].url }}"},
            {"id": "generation_id", "name": "generation_id", "type": "string", "value": "={{ $('Set Generator Variables').item.json.generation_id }}"}
          ]
        }
      },
      "id": "gen-set-final-001",
      "name": "Set Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2496, -700]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dream_generations",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.generation_id }}",
        "fieldsUi": {"fieldValues": [{"fieldId": "generated_image_url", "fieldValue": "={{ $json.generated_image_url }}"}, {"fieldId": "status", "fieldValue": "completed"}]}
      },
      "id": "gen-update-001",
      "name": "Update Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2720, -700],
      "credentials": {"supabaseApi": {"id": "PFA80EiSfODUskBN", "name": "Supabase"}}
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dream_generations",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Set Generator Variables').item.json.generation_id }}",
        "fieldsUi": {"fieldValues": [{"fieldId": "status", "fieldValue": "failed"}, {"fieldId": "error_message", "fieldValue": "Premium required"}]}
      },
      "id": "gen-not-premium-001",
      "name": "Not Premium",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [896, -480],
      "credentials": {"supabaseApi": {"id": "PFA80EiSfODUskBN", "name": "Supabase"}}
    }
  ],
  "connections": {
    "Generator Webhook": {"main": [[{"node": "Set Generator Variables", "type": "main", "index": 0}]]},
    "Set Generator Variables": {"main": [[{"node": "Check Premium (Generator)", "type": "main", "index": 0}]]},
    "Check Premium (Generator)": {"main": [[{"node": "Is Premium?", "type": "main", "index": 0}]]},
    "Is Premium?": {"main": [[{"node": "Enhance Prompt", "type": "main", "index": 0}], [{"node": "Not Premium", "type": "main", "index": 0}]]},
    "Enhance Prompt": {"main": [[{"node": "Set Enhanced", "type": "main", "index": 0}]]},
    "OpenAI (Generator)": {"ai_languageModel": [[{"node": "Enhance Prompt", "type": "ai_languageModel", "index": 0}]]},
    "Set Enhanced": {"main": [[{"node": "Upload Image to Leonardo", "type": "main", "index": 0}]]},
    "Upload Image to Leonardo": {"main": [[{"node": "Get Upload ID", "type": "main", "index": 0}]]},
    "Get Upload ID": {"main": [[{"node": "Leonardo - Image to Image", "type": "main", "index": 0}]]},
    "Leonardo - Image to Image": {"main": [[{"node": "Wait Generator", "type": "main", "index": 0}]]},
    "Wait Generator": {"main": [[{"node": "Set Leo ID", "type": "main", "index": 0}]]},
    "Set Leo ID": {"main": [[{"node": "Get Generated Image", "type": "main", "index": 0}]]},
    "Get Generated Image": {"main": [[{"node": "Set Final", "type": "main", "index": 0}]]},
    "Set Final": {"main": [[{"node": "Update Supabase", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
